{% extends 'basedr.html' %}

{% block title %}
    <title>Driver Trips | FMS </title>
{% endblock %}

{% block content %}
                <!-- Page content-->
                <div class="container-fluid">
                <div id='map' style='width: 100%; height: 300px;'></div>

                    <script>


                      window.addEventListener("DOMContentLoaded", function () {
  // (B1) INSERT ACCESS TOKEN HERE!
                   mapboxgl.accessToken = 'pk.eyJ1IjoiaWRhdmVyczk4IiwiYSI6ImNrcXBzZWxmczA4Mm8ydnEzMXR3emt3eXcifQ.d-QVNcLt_5acuWmgUpBPTA';

                  navigator.geolocation.getCurrentPosition(
                    // (B2) ON SUCCESSFULLY GETTING GPS COORDINATES
                    function (pos) {
                      // DRAW MAP
                      let map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        center: [pos.coords.longitude, pos.coords.latitude],
                        zoom: 13
                      });
                      // DRAW MARKER
                      let marker = new mapboxgl.Marker()
                        .setLngLat([pos.coords.longitude, pos.coords.latitude])

                        .addTo(map);
                      console.log(pos.coords.longitude)
                        console.log(pos.coords.latitude)
                    },

                    // (B3) ON FAILING TO GET GPS COORDINATES
                    function (err) {
                      console.log(err);
                    },

                    // (B4) GPS OPTIONS
                    {
                      enableHighAccuracy: true,
                      timeout: 1000,
                      maximumAge: 0,
                      trackUserLocation: true
                    }


                  );
                });

                    </script>

                <div>
                    <button onclick="main()">Start Trip</button>
                </div>

                         <div class="card">

              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                          <thead>
                                <tr>
                                  <th scope="col">ID</th>
                                  <th scope="col">Driver ID</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Staff Assigned</th>
                                    <th scope="col">Date of Request</th>
                                </tr>
                              </thead>
                              <tbody>
                               {% for obj in trip %}
                       <tr>
                                  <th scope="row">{{ obj.id }}</th>
                                  <td>{{ obj.driver_id }}</td>
                                  <td>{{ obj.status }}</td>
                                  <td>{{ obj.staff_id }}</td>
                                    <td>{{ obj.date }}</td>
                                </tr>
                    {% endfor %}
                              </tbody>
                <tfoot>
                <tr>
                    <th scope="col">ID</th>
                                  <th>Driver ID</th>
                                  <th>Status</th>
                                  <th>Staff Assigned</th>
                                    <th>Date of Request</th>
                </tr>
                </tfoot>

  ...
                </table>


                </div>
            </div>
        </div>


{% endblock %}
        <!-- Bootstrap core JS-->

