{% extends 'basest.html' %}

{% block title %}
    <title>Requests | FMS</title>

{% endblock %}

{% block content %}
                <!-- Page content-->
                <div class="container-fluid">


                <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Send Request</h3>
              </div>
                <div class="card-body">
                <form action="" method="post" >
                    {% csrf_token %}
                          <div class="row">
                                        <div class="col-sm-6">
                                          <!-- text input -->
                                          <div class="form-group">
                                {% if user.is_authenticated %}
                                <label for="department">Staff ID</label>
                                <input type="text" name="staffid" id="department" class="form-control" placeholder="Department" value="{{ user.username }}" required>
                                {% endif %}
                                          </div>
                                        </div>

                                <div class="col-sm-6">

                                          <div class="form-group">
                                <label for="department">Department</label>
                                <input type="text" name="department" class="form-control" id="department" placeholder="Department" required>
                                          </div>
                                </div>
                          </div>

                            <div class="row">
                                        <div class="col-sm-6">
                                          <div class="form-group">
                                <label for="destination">Destination</label>
                                <input type="text" name="destination" class="form-control" id="destination" placeholder="Destination" required>
                                          </div>
                                        </div>




                            <div class="col-sm-6">
                                          <div class="form-group">
                                <label for="phone">Contact No.</label>
                                <input type="text" name="contact" class="form-control" id="phone" placeholder="Phone number" required>
                                          </div>
                            </div>
                            </div>

                            <div class="row">
                                        <div class="col-sm-6">
                                          <div class="form-group">
                                <label for="pickup">Pickup Point</label>
                                <input type="text" name="pickup" class="form-control" id="pickup" placeholder="Pickup location" required>
                                          </div>
                                        </div>


                           <div class="col-sm-6">
                                          <div class="form-group">
                                <label for="reqdate">Required Date
                                    <span>(mm/dd/yy)</span>
                                </label>
                                <input type="date" class="form-control" name="date" id="reqdate" required>
                                          </div>
                           </div>
                            </div>

                             <div class="row">
                                        <div class="col-sm-6">
                                          <div class="form-group">
                                <label for="purpose">Purpose</label>
                                <textarea name="purpose" id="purpose" class="form-control" cols="20" rows="3" placeholder="State the reason for your trip." required></textarea>
                                          </div>
                                        </div>


                             <div class="col-sm-6">
                                          <div class="form-group">
                                <label for="dep_time">Departure Time</label>
                                <input type="time" name="time" class="form-control" id="dep_time" required>
                                          </div>
                             </div>
                             </div>



                            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit Request</button>
            </div>

                        </form>



                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
{% endblock %}