{% extends 'basetr.html' %}

{% block title %}
    <title>Refilling | Fleet</title>

{% endblock %}

{% block content %}
                <!-- Page content-->
                <div class="container-fluid">
                    <h3>Approve Request for {{ fill.vehicle }}</h3>
                    <form method="POST" style="margin-top: 50px; padding: 10px;" >
                        {% csrf_token %}

{#                            <div class="row g-3 align-items-center" style="margin-bottom: 10px">#}

                     <div class="row">
                            <div class="col-sm-6">
                             <div class="form-group">
                                 <label for="order">Approved By</label>
                                     <input type="text" name="namba" id="order" class="form-control" placeholder="" value="{{ num }}" >

                                     </div>
                                         </div>

                                 <div class="col-sm-6">
                                     <div class="form-group">
                                        <label for="facility_opt">Approved By</label>
                                             <select id="facility_opt" class="form-control" name="transport">
                                                <option value="" disabled selected>Select</option>
                                                     {% for obj in user %}
                                                          {% if obj.user_type == 1 %}
                                                      <option value="{{ obj.username }}">{{ obj.username }}</option>
                                                          {% endif %}
                                                             {% endfor %}
                                             </select>
                                         </div>
                                        </div>
                                     </div>
                            <div class="row">

                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>

                    </form>





                </div>

        <!-- Bootstrap core JS-->
 {% endblock %}