{% extends 'basetr.html' %}

{% block title %}

    <title>Fleet | Requests</title>
{% endblock %}

{% block content %}
                    <section>
                    <form method="POST" style="margin-top: 50px; padding: 10px;" >
                        {% csrf_token %}
                          <h3>Assign Driver for {{ req_obj.staff_id }}</h3>



                                <div class="form-group">
                                 <label></label>
                                  <select class="form-control" name="driver">
                                     <option value="" disabled selected>Driver</option>
                                    {% for obj in driver %}
                                    <option>{{ obj.driver_id }}</option>
                                     {% endfor %}
                                <option>Not Assigned</option>
                                </select>
                                </div>
                                <div><button type="submit" class="btn btn-primary">Assign Driver</button></div>



                    </form>
                    </section>


{% endblock %}




