{% extends 'basetr.html' %}

{% block title %}
    <title>Maintenance - Fleet</title>
{% endblock %}

{% block content %}

     <div class="container-fluid">
                         <div class="card">

              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                          <thead>
                                <tr>
                                <th >Date</th>
                                  <th>Driver</th>
                                  <th>Vehicle</th>
                                  <th>Type</th>
                                    <th>Status</th>
                                    <th>Update</th>


                                </tr>
                              </thead>
                              <tbody>
                               {% for obj in main %}
                       <tr>
{#                                  <th scope="row">{{ obj.id }}</th>#}
                           <td><a href="">{{ obj.date }}</a></td>
                                  <td>{{ obj.driver }}</td>
                                  <td>{{ obj.vehicle }}</td>
                                   <td>{{ obj.mtype }}</td>
                                    <td>{{ obj.transport }}</td>


                           <td>
                                <a href="{% url 'main:edit_main' obj.id %}" class="opt">
                                <i class="ion-edit btn-small"></i>
                                </a>
                           </td>

                                </tr>
                    {% endfor %}
                              </tbody>
               <tfoot>
               <tr>
                                <th >Date</th>
                                  <th>Driver</th>
                                  <th>Vehicle</th>
                                  <th>Type</th>
                                    <th>Status</th>
                                    <th>Update</th>
               </tr>
               </tfoot>
  ...
                </table>
                </div>
            </div>
        </div>

{% endblock%}