{% extends 'basetr.html' %}


        {% block title %}
        <title>Fleet</title>
        {% endblock %}


            {% block content %}
                <div class="container-fluid">

                 <div id='map' style='width: 100%; height: 300px;'>

                    <script>
                      function locate(){
                           mapboxgl.accessToken = 'pk.eyJ1IjoiaWRhdmVyczk4IiwiYSI6ImNrcXBzZWxmczA4Mm8ydnEzMXR3emt3eXcifQ.d-QVNcLt_5acuWmgUpBPTA';

                  navigator.geolocation.getCurrentPosition(
                    // (B2) ON SUCCESSFULLY GETTING GPS COORDINATES
                    function (pos) {

                        var lat = document.getElementById('latitude').value;
                        var lon = document.getElementById('longitude').value;


                      // DRAW MAP
                      let map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        center: [lon, lat],
                        zoom: 13
                      });


                      // DRAW MARKER
                      let marker = new mapboxgl.Marker()
                        .setLngLat([lon, lat])

                        .addTo(map);
                      console.log(pos.coords.longitude)
                        console.log(pos.coords.latitude)
                    },

                    // (B3) ON FAILING TO GET GPS COORDINATES
                    function (err) {
                      console.log(err);
                    },
                       {
                      enableHighAccuracy: true,
                      timeout: 1000,
                      maximumAge: 0,
                      trackUserLocation: true
                    }

                  );
                      }







                      window.addEventListener("DOMContentLoaded", function  () {
  // (B1) INSERT ACCESS TOKEN HERE!
                   mapboxgl.accessToken = 'pk.eyJ1IjoiaWRhdmVyczk4IiwiYSI6ImNrcXBzZWxmczA4Mm8ydnEzMXR3emt3eXcifQ.d-QVNcLt_5acuWmgUpBPTA';

                  navigator.geolocation.getCurrentPosition(
                    // (B2) ON SUCCESSFULLY GETTING GPS COORDINATES
                    function (pos) {
                      // DRAW MAP
                      let map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        center: [pos.coords.longitude, pos.coords.latitude],
                        zoom: 13
                      });


                      // DRAW MARKER
                      let marker = new mapboxgl.Marker()
                        .setLngLat([pos.coords.longitude, pos.coords.latitude])

                        .addTo(map);
                      console.log(pos.coords.longitude)
                        console.log(pos.coords.latitude)
                    },

                    // (B3) ON FAILING TO GET GPS COORDINATES
                    function (err) {
                      console.log(err);
                    },

                    // (B4) GPS OPTIONS
                    {
                      enableHighAccuracy: true,
                      timeout: 1000,
                      maximumAge: 0,
                      trackUserLocation: true
                    }


                  );
                });

                    </script>
                </div>

                <div>
                <div class="card-body">

                     <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                     <button type="button" onclick="locate()" class="btn btn-default">
                         &nbsp;Pin Vehicle
                     </button>
                            </div>
                        </div>

                         <div class="col-sm-3">
                            <div class="form-group">
                               <label for="latitude"></label>
                                    {% for obj in loc %}
                                    <input type="text" name="latitude" id="latitude" value="{{ obj.latitude }}" class="form-control" placeholder="{{ obj.latitude }}">
                                    {% endfor %}
                            </div>
                         </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="longitude"></label>
                                        {% for obj in loc %}
                                        <input type="text" name="longitude" id="longitude" value="{{ obj.longitude }}" class="form-control" placeholder="{{ obj.longitude }}">
                                        {% endfor %}
                                </div>
                            </div>

                     </div>


                <script>
                    {% for obj in loc %}
                    {% endfor %}
                </script>


                </div>



<!-- Button trigger modal -->
                <div class="card-body">
                   <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                  Add Vehicle
                </button>
                </div>

                        <!-- Modal -->
             <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Vehicle</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="" method="POST" class="form  clearfix newform">
                                            {% csrf_token %}

                            <div class="row">
                                        <div class="col-sm-6">
                                          <!-- text input -->
                                          <div class="form-group">
                                            <label for="licence">Licence</label>
                                            <input type="text" name="licence" id="licence" class="form-control" placeholder="Enter ...">
                                          </div>
                                        </div>
                                        <div class="col-sm-6">
                                          <div class="form-group">
                                            <label for="type">Body Type</label>
                                            <input type="text" name="type" id="type" class="form-control" placeholder="Enter ...">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-sm-6">
                                          <!-- text input -->
                                          <div class="form-group">
                                            <label for="vmake">Make</label>
                                            <input type="text" name="make" id="vmake" class="form-control" placeholder="Enter ...">
                                          </div>
                                        </div>
                                        <div class="col-sm-6">
                                          <div class="form-group">
                                            <label for="vmodel">Model</label>
                                            <input type="text" name="vmodel" id="vmodel" class="form-control" placeholder="Enter ...">
                                          </div>
                                        </div>
                                      </div>
                                     <div class="row">
                                        <div class="col-sm-6">
                                          <!-- text input -->
                                          <div class="form-group">
                                            <label for="vyear">Year</label>
                                            <input type="text" name="year" id="vyear" class="form-control" placeholder="Enter ...">
                                          </div>
                                        </div>
                                        <div class="col-sm-6">
                                          <div class="form-group">
                                            <label for="vfuel">Tank Capacity</label>
                                            <input type="text" name="tank" id="vfuel" class="form-control" placeholder="Enter ..." >
                                          </div>
                                        </div>
                                      </div>



                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                <label for="facility_opt">Vehicle Transmission</label>
                                <select class="form-control" id="facility_opt" name="trans">
                                    <option value="" disabled selected>Transmission</option>
                                    <option>Automatic</option>
                                    <option>Manual</option>

                                </select>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                <label for="facility_opt">Vehicle Fuel</label>
                                <select class="form-control" id="facility_opt" name="fuel">
                                    <option value="" disabled selected>Fuel Type</option>
                                    <option>Petrol</option>
                                    <option>Diesel</option>

                                </select>
                                    </div>
                                </div>

                             </div>


                            <div class="row">
                                 <div class="col-sm-6">
                             <div class="form-group">
                                <label for="vfuel">Milleage</label>
                                <input type="text" name="milleage" id="vfuel" class="form-control" placeholder="Milleage" required>
                             </div>
                                 </div>

                                 <div class="col-sm-6">
                             <div class="form-group">
                                <label for="vfuel">Last Refill</label>
                                <input type="date" name="refill" id="vfuel" class="form-control" placeholder="Last Refill" required>
                             </div>
                                 </div>

                                </div>


                            <div class="row">

                                <div class="col-sm-6">
                             <div class="form-group">
                                <label for="vcolor">Colour</label>
                                <input type="color" name="vcolor" class="form-control" id="vcolor"
                                 placeholder="" required>
                                 </div>
                           </div>


                                <div class="col-sm-6">
                             <div class="form-group">
                                <label for="vseat">Seating Capacity</label>
                                <input type="tel" name="vseat" id="vseat"
                                 placeholder="20" class="form-control" maxlength="2" required>
                                 </div>
                           </div>
                                </div>


                            <div class="row">
                            <div class="col-sm-6">
                             <div class="form-group">
                                <label for="vmaint">Next Maintentance</label>
                                <input type="date" name="vmaint" id="vmaint"
                                 placeholder="" required>
                             </div>
                            </div>
                            <br>

                        <div class="col-sm-6">
                             <div class="form-group">
                                <label for="">Driver Status: </label>
                                <div class="radio-group">
                                    <label for="status-available">Available</label>
                                    <input type="radio" id="status-available" name="status" value="available" checked>
                                    <label for="status-unavailable">Unavailable</label>
                                    <input type="radio" name="status" id="status-unavailable" value="unavailable">
                                </div>
                             </div>
                        </div>
                                </div>


                            <div class="row"></div>
                            <div class="col-sm-6">
                             <div class="form-group">
                                <label for="">Operability </label>
                                <div class="radio-group">
                                    <label for="op-operable">Operable</label>
                                    <input type="radio" id="op-operable" name="op" value="operable" checked>
                                    <label for="op-inoperable">Inoperable</label>
                                    <input type="radio" id="op-inoperable" name="op" value="inoperable">

                                </div>
                             </div>
                                </div>


                        <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add Vehicle</button>
            </div>
                        </form>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>



                      <div class="card">

              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>License Plate</th>
                                        <th>Vehicle Make</th>
                                        <th>Vehicle Model</th>
                                        <th>Body Type</th>
                                        <th>Year</th>
                                        <th>Capacity</th>
                                        <th>Fuel</th>
                                        <th>Transmission</th>
                                        <th>Maintenance Date</th>
                                        <th>Availability</th>
                                        <th>Operability</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>



                                <tbody>
                                 {% for obj in trips %}
                                    <tr>
                                        <td>{{ obj.license }}</td>
                                        <td>{{ obj.manufacturer }}</td>
                                        <td>{{ obj.model }}</td>
                                        <td>{{ obj.body }}</td>
                                        <td>{{ obj.year }}</td>
                                        <td>{{ obj.seats }}</td>
                                        <td>{{ obj.fuel_type }}</td>
                                        <td>{{ obj.transmission }}</td>
                                        <td>{{ obj.maintenance_record }}</td>
                                        <td>{{ obj.status }}</td>
                                        <td>{{ obj.operability }}</td>
                                        <td>
                                            <a href="#" class="opt">
                                                <i class="ion-edit btn-small"></i>
                                            </a>
                                        </td>
                                    </tr>
                            {% endfor %}


                                </tbody>
                <tfoot>
                 <tr>
                                        <th>License Plate</th>
                                        <th>Vehicle Make</th>
                                        <th>Vehicle Model</th>
                                        <th>Body Type</th>
                                        <th>Year</th>
                                        <th>Capacity</th>
                                        <th>Fuel</th>
                                        <th>Transmission</th>
                                        <th>Maintenance Date</th>
                                        <th>Availability</th>
                                        <th>Operability</th>
                                        <th>Edit</th>
                                    </tr>
                </tfoot>
                            </table>
                </div>
            </div>
        </div>
                </div>
        {% endblock %}